<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-income-heading" data-cy="IncomeCreateUpdateHeading" jhiTranslate="jHipsterProjectApp.income.home.createOrEditLabel">
        Create or edit a Income
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jHipsterProjectApp.income.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jHipsterProjectApp.income.roll" for="field_roll">Roll</label>
          <input type="text" class="form-control" name="roll" id="field_roll" data-cy="roll" formControlName="roll" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jHipsterProjectApp.income.income" for="field_income">Income</label>
          <input type="number" class="form-control" name="income" id="field_income" data-cy="income" formControlName="income" />
          <div *ngIf="editForm.get('income')!.invalid && (editForm.get('income')!.dirty || editForm.get('income')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('income')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('income')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
