<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="money">
      <h2 data-cy="moneyDetailsHeading"><span jhiTranslate="jHipsterProjectApp.money.detail.title">Money</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ money.id }}</span>
        </dd>
        <dt><span jhiTranslate="jHipsterProjectApp.money.name">Name</span></dt>
        <dd>
          <span>{{ money.name }}</span>
        </dd>
        <dt><span jhiTranslate="jHipsterProjectApp.money.roll">Roll</span></dt>
        <dd>
          <span>{{ money.roll }}</span>
        </dd>
        <dt><span jhiTranslate="jHipsterProjectApp.money.income">Income</span></dt>
        <dd>
          <span>{{ money.income }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/money', money.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
